{{#each beers}}
    {{!-- <div>{{this}} {{this.name}} </div> --}}
    <div>
        {{#with this}}
            <h2>{{name}}</h2>
            <img src={{image_url}}></img>
            <p>{{tagline}}</p>
            <article>{{description}}</article>
        {{/with}}
    </div>
{{/each}}